.category__filter,
.category__additionaltext {
  margin-bottom: 25px;
}
.filter__heading {
  margin: 15px 0;
}
.filter__option {
  display: inline-block;
  border: 1px solid #d2e4f5;
  padding: 12.5px;
  color: #314a6e;
  font-size: 14px;
  width: 100%;
}
.filter__option:hover,
.filter__option:focus,
.filter__option:active {
  background-color: #8fb83f;
  color: #fff;
  border-color: #8fb83f;
}

.filter__select {
  border: 1px solid #d2e4f5;
  padding: 10px;
  color: #314a6e;
  font-size: 14px;
  width: 100%;
}

.category__additionaltext {
  line-height: 1.2;
}
.additionaltext__heading {
  margin-bottom: 15px;
}