footer {
	background-color: #e7ebf1;
	padding: 25px 0;
}
footer img {
	width: auto;
  max-width: 100%;
}

.footer-logo img {
	/*width: 100%;*/
}

.footer-menu {
	display: inline-block;
}
.footer-menu:first-child {
	margin-right: 55px;
}
.footer-menu li a {
	color: #4d5d74;
	font-size: 14px;
	line-height: 24px;
}
.footer-menu li a:focus,
.footer-menu li a:active,
.footer-menu li a:hover {
	color: #9c4362;
}
.footer-copyright {
	color: #818487;
	font-size: 13px;
	margin-top: 20px;
	line-height: 18px;
}

.vk-link {
	display: inline-block;
	background-color: #fff;
	padding: 12px 30px;
	font-size: 15px;
	color: #4d5d74;
	position: relative;
  margin-left: 31px;
  margin-top: 15px;
}
.vk-link span {
	font-size: 11px;
	color: #808996;
	display: block;
}
.vk-link img {
	position: absolute;
  left: -31px;
  bottom: 0;
}
.footer-counter {
	display: inline-block;
	background-color: #c2c5ca;
	width: 88px;
	height: 32px;
	margin-right: 5px;
}

@media screen and (max-width: 991px) {
	footer .container {
		max-width: 100%;
	}
	.footer-logo img {
		width: 100%;
	}
	.vk-link img {
    left: -35px;
	}
	.vk-link {
    padding: 12px 5px 12px 25px;
  }
  .footer-md {
  	display: flex;
  	flex-wrap: wrap;
  	justify-content: center;
  }
  .footer-copyright {
  	align-self: flex-start;
  }
}

@media screen and (max-width: 767px) {
	.footer-logo img {
		width: auto;
	}
	.footer-md {
		display: block;
		margin-top: 20px;
	}
	.footer-menu {
		display: block;
	}
	.footer-menu:first-child {
		margin-right: 0;
	}
}