/* _______________ HEADER styles _______________________ */
header {
	padding-top: 10px;
	background-color: #fff;
}
.header-info {
	margin-bottom: 30px;
	line-height: 20px;
}
.header-info img {
	width: auto;
	max-width: 100%;
}
.phonenumber {
	color: #292a2c;
	font-size: 24px;
	font-weight: 400;
}

.link-modal {
	color: #a3c1d8;
	border-bottom: 1px dotted #a3c1d8;
	position: relative;
	display: inline-block;
	margin-top: 5px;
}
.link-modal--call {
	display: inline-block;
	margin-left: 20px;
}
.link-modal--map {
	margin-left: 15px;
}
.link-phone {
	position: relative;
}
.link-modal:before,
.link-phone:before  {
	content: "";
	display: block;
	height: 15px;
	position: absolute;
	top: calc(50% - 6px);
	background: url('../images/sprite-icons-small.png') no-repeat center;
	/*background-size: cover;*/
}
.link-phone:before {
	width: 16px;
	left: -20px;
	background-position: 0px -26px;
}
.link-modal--call:before {
	width: 16px;
	left: -20px;
	background-position: -31px -28px;
}
.link-modal--map:before {
	width: 10px;
	left: -15px;
	background-position: -18px -28px;
}

.navbar--header {
	background: #7c4672; /* Old browsers */
	background: -moz-linear-gradient(left, #7c4672 0%, #dc707d 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #7c4672 0%,#dc707d 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #7c4672 0%,#dc707d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c4672', endColorstr='#dc707d',GradientType=1 ); /* IE6-9 */
}
.navbar-dark .navbar-nav .nav-link {
	font-size: 17px;
	color: #fff;
	padding-bottom: 1rem;
}
.navbar-dark .navbar-nav .menu-item:hover .nav-link,
.navbar-dark .navbar-nav .menu-item:active .nav-link,
.navbar-dark .navbar-nav .menu-item:focus .nav-link {
	color: #36383a;
	font-weight: 600;
	padding-right: 0.45rem;
	padding-left: 0.45rem;
}

.navbar-nav {
	width: 100%;
	justify-content: space-around;
}
.navbar {
	/*	padding-bottom: 0;*/
	/*margin-bottom: 30px;*/
}
.menu-item:hover,
.menu-item:active,
.menu-item:focus {
	background: #ebf1f9;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

@media screen and (max-width: 991px) {
	header .container {
		max-width: 100%;
	}
	.phonenumber {
		font-size: 20px;
	}
	.p-color-grey,
	.link-modal {
		font-size: 13px;
		line-height: 13px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.mt-negative-40 {
		margin-top: -40px !important;
	}
}
@media screen and (max-width: 767px) {
	.menu-item:hover {
		border-radius: 5px;
	}
	.navbar-dark .navbar-nav .nav-link {
		padding-bottom: 0.5rem;
	}
}

/* _______________ FOOTER styles _________________________ */
footer {
	background-color: #e7ebf1;
	padding: 25px 0;
}
footer img {
	width: auto;
	max-width: 100%;
}

.footer-logo img {
	/*width: 100%;*/
}

.footer-menu {
	display: inline-block;
}
.footer-menu:first-child {
	margin-right: 55px;
}
.footer-menu li a {
	color: #4d5d74;
	font-size: 14px;
	line-height: 24px;
}
.footer-menu li a:focus,
.footer-menu li a:active,
.footer-menu li a:hover {
	color: #9c4362;
}
.footer-copyright {
	color: #818487;
	font-size: 13px;
	margin-top: 20px;
	line-height: 18px;
}

.vk-link {
	display: inline-block;
	background-color: #fff;
	padding: 12px 30px;
	font-size: 15px;
	color: #4d5d74;
	position: relative;
	margin-left: 31px;
	margin-top: 15px;
}
.vk-link span {
	font-size: 11px;
	color: #808996;
	display: block;
}
.vk-link img {
	position: absolute;
	left: -31px;
	bottom: 0;
}
.footer-counter {
	display: inline-block;
	background-color: #c2c5ca;
	width: 88px;
	height: 32px;
	margin-right: 5px;
}

@media screen and (max-width: 991px) {
	footer .container {
		max-width: 100%;
	}
	.footer-logo img {
		width: 100%;
	}
	.vk-link img {
		left: -35px;
	}
	.vk-link {
		padding: 12px 5px 12px 25px;
	}
	.footer-md {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
	.footer-copyright {
		align-self: flex-start;
	}
}

@media screen and (max-width: 767px) {
	.footer-logo img {
		width: auto;
	}
	.footer-md {
		display: block;
		margin-top: 20px;
	}
	.footer-menu {
		display: block;
	}
	.footer-menu:first-child {
		margin-right: 0;
	}
}

/* _______________ the ARTICLES page ____________________ */
.container--articles {
	background-color: #fff;
	padding: 15px 40px 35px;
}
.btn-request {
	display: block;
	padding: 45px 40px 10px;
	border-radius: 10px;
	background-color: #ecf1f6;
	text-align: center;
	position: relative;
	margin-bottom: 25px;
	margin-top: 33px;
}
.btn-request__text {
	display: inline-block;
	border-bottom: 1px dotted #b9bfc7;
	color: #292a2c;
	line-height: 20px;
}
.btn-request:after,
.btn-request:before {
	content: '';
	display: block;
	position: absolute;
}
.btn-request:before {
	width: 66px;
	height: 66px;
	border-radius: 50%;
	background-color: #98b43f;
	background-image: url(../images/other-sprites.png);
  background-repeat: no-repeat;
  background-position: -168px center;
	top: -33px;
	left: 50%;
	margin-left: -33px;
	z-index: 2;
}
.btn-request:after {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	background: #fff;
	top: -45px;
	left: 50%;
	margin-left: -45px;
	z-index: 1;
}
.request--wider {
	width: 100%;
	max-width: 100%;
	border-radius: 3px;
}
.request--wider .request__text   {
  width: auto;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	    padding: 13px;
}
.article {
	margin-top: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #e8edf1;	
	padding: 25px 0;
}
.article__heading {
	font-size: 20px;
	color: #292a2c;
	text-transform: uppercase;
}
.article__heading:hover a {
	color: #697c14;
}
.article__date {
	font-size: 12px;
	color: #95989d;
	margin-top: 15px;
}
.article__content {
	font-size: 16px;
	line-height: 24px;
	color: #414447;
	margin-top: 15px;
	text-align: justify;
}
@media screen and (max-width: 767px) {

}
@media (min-width: 768px) and (max-width: 991px) {
	.btn-request {
	    padding: 45px 17px 10px;
	}
}
@media screen and (min-width: 992px) {
	.request--wider .request__text   {
	  padding: 13px;
	}
}


/* _______________ the article page ____________________ */
.article--single {
	border-bottom: 0;
}
.article__content p,
.article__content  h2,
.article__content h3 {
	margin: 10px 0;	
}
.article__content ul li {
	text-indent: 15px;
	list-style-image: url(../images/list-style.png);
	list-style-position: inside;
	margin: 10px 0;
}
.article__content blockquote {
	background-color: #fff7e6;
	color: #4c5923;
	padding: 25px 35px;
	margin: 10px 0;
}
.article__content blockquote p {
	background-color: #fff7e6;
	margin-left: 32px;
	font-style: italic;
	font-size: 18px;
	letter-spacing: -1px;
	position: relative;
}
.article__content blockquote p:before {
	position: absolute;
	top: -7px;
	left: -40px;
	content: '';
	display: block;
	width: 33px;
	height: 26px;
	background: url('../images/other-sprites.png') no-repeat center;
	background-position: -237px -10px;
}

.service-form input {
	border: 1px solid #dde2ea;
	padding: 15px;
	width: 100%;
}
.service-form__heading {
	font-size: 25px;
	font-weight: 400;
}
.service-form label {
	color: #414447;
	font-size: 15px;
}
.service-form input[type="submit"] {
	border: none;
	border-radius: 3px;
	color: #fff;
	background-color: #df3753;
	width: unset;
}
.service-form__phonenumber {
	display: inline-block;
	color: #7a7d81;
  vertical-align: middle;
  font-size: 13px;
}
.service-form__phonenumber a {
	font-size: 25px;
	font-weight: 400;
}
.service-form--border {
	padding-top: 20px;
	border: 3px solid transparent;
	border-image: url(../images/brdr1.png) 3 0 0 0 repeat;
}


.article__content ol {
  list-style: none;
  counter-reset: my-awesome-counter;
  text-indent: 20px;
}
.article__content ol li {
  counter-increment: my-awesome-counter;
}
.article__content ol li::before {
  content: counter(my-awesome-counter) "  ";
  color: #8bae1d;
  font-weight: bold;
  font-size: 25px;
}
/* ______________________social icons____________________ */
.social-icons {
	border-top: 1px solid #e8edf1;
	border-bottom: 1px solid #e8edf1;
	padding: 15px 0;
}
.social-icons__info,
.txt-grey {
	display: inline-block;
	color: #818487;
	font-size: 13px;
	margin-right: 15px;
}

.social-icons a {
	display: inline-block;
	width: 30px;
	height: 30px;
  line-height: 30px;
  text-align: center;
	border-radius: 50%;
	color: #fff;
}
.fa-facebook-f {
	background-color: #1e599a;
		border: 1px solid #1e599a;
}
.fa-twitter {
	background-color: #02aef3;
		border: 1px solid #02aef3;
}
.fa-vk {
	background-color: #28698d;
	border: 1px solid #28698d;
}
.fa-odnoklassniki {
	background-color: #28698d;
	border: 1px solid #28698d;
}
.fa-google-plus {
	background-color: #e02909;
	border: 1px solid #e02909;
}

.fa-facebook-f:hover {
	background-color: #fff;
	color: #1e599a;
}
.fa-twitter:hover {
	background-color: #fff;
	color: #02aef3;
}
.fa-vk:hover {
	background-color: #fff;
	color: #28698d;
}
.fa-odnoklassniki:hover {
	background-color: #fff;
	color: #28698d;
}
.fa-google-plus:hover {
	background-color: #fff;
	color: #e02909;
}
/* __________________________________________________ */

.assistance__link {
    padding-left: 30px;
 }
.assistance__link:before {
	display: none;
}
.assistance__link img {
		width: 37px;
		margin-right: 20px;
    /*height: 47px;*/
/*    position: absolute;

    left: 25px;
    top: 10px;*/

}

/* _______________ ABOUT US page ____________________ */
.wpsisac-slick-carousal.design-6 .slick-image-slide {
	text-align: center;
	height: auto !important;
}
.slick-image-slide-wrap img {
	object-fit: contain;
}
.about_content p {
	font-size: 16px;
	line-height: 24px;
	color: #414447;
	margin-top: 15px;
	text-align: justify;
}
/*.about_photo {*/
	/*height: 500px;*/
/*}*/

.wp-block-embed__wrapper iframe {
  display: block;
  margin: 0 auto;
}

.info__list li {
  line-height: 30px;
  margin-bottom: 1px;
  counter-increment: my-awesome-counter;
}
.info__list li::before {
  margin-right: 5px;
  content: counter(my-awesome-counter);
  color: red;
}

@media screen and (max-width: 767px) {
  .wp-block-embed__wrapper iframe {
      width: 100% !important;
  }
}
@media only screen and (max-width: 40.0625em) {
  .wpsisac-slick-carousal .slick-image-slide-wrap, .wpsisac-slick-carousal .slick-image-slide {
     height: 300px !important;
  }
}

/* _______________ FILTER on the ITEM  page ____________________ */
.category__filter,
.category__additionaltext {
	margin-bottom: 25px;
}
.filter__heading {
	margin: 15px 0;
}
.filter__option {
	display: inline-block;
	border: 1px solid #d2e4f5;
	padding: 12.5px;
	color: #314a6e;
	font-size: 14px;
	width: 100%;
}
.filter__option:hover,
.filter__option:focus,
.filter__option:active {
	background-color: #8fb83f;
	color: #fff;
	border-color: #8fb83f;
}

.filter__select {
	border: 1px solid #d2e4f5;
	padding: 10px;
	color: #314a6e;
	font-size: 14px;
	width: 100%;
}

.category__additionaltext {
	line-height: 1.2;
}
.additionaltext__heading {
	margin-bottom: 15px;
}
